<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Autores</h3>
    <h4>Recuentos:</h4>
    <p>Número de autores: {{numAutores}}</p>
    <p>Precio total de los Libros: {{totalLibros.precio_total}} &euro;</p>
    <table>
        <tr>
            <th>ISBN</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>PUBLISHER</th>
        </tr>
        {% for libro in libros %}
            <tr>
                <td>{{libro.isbn}}</td>
                <td>{{libro.name}}</td>
                <td>{{libro.price|floatformat:"2"}} &euro;</td>
                <td>{{libro.publisher}}</td>
            </tr>
        {% endfor %}
    </table>
    <!-- Generar una lista anidada con el titulo del libro y los autores: -->
    <h3>Libros y Autores</h3>
    <ul>
        {% for libro in libros %}
            <li>{{libro.name}}</li>
            <li>
                <ol>
                    {# all recupera en un iterable todos los autores #}
                    {% for autor in libro.authors.all %}
                        <li>{{autor.name}}</li>
                    {% endfor %} 
                </ol>
            </li>
        {% endfor %}
    </ul>
</body>
</html>