<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>CALCULADORA</h3>
    <form action="" method="">
        <table>
            <tr>
                <td><label>Número</label></td>
                <td><input type="text" name="numero1" id="numero1" required placeholder="Teclear número"></td>
            </tr>
            <tr>
                <td><label>Número2</label></td>
                <td><input type="text" name="numero2" id="numero2" required placeholder="Teclear número"></td>
            </tr>
            <tr>
                <td><label>Operación</label></td>
                <td>
                    <select name="operacion" id="operacion" title="operación">
                        <option value=""></option>
                        <option value="suma">Suma</option>
                        <option value="resta">Resta</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" name="enviar" value="Enviar"></td>
                <td><input type="reset" name="limpiar" value="Limpiar"></td>
            </tr>              
        </table>
    </form>
</body>
</html>