<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Práctica 6</h3>
    <p>{% now "d/m/Y  H:i O" %}</p>
    <a href="{% url 'admin:index' %}">Administración</a> | 
    <a href="{% url 'autores' %}">Autores</a> |
    <a href="{% url 'calculadora' %}">Calculadora</a> |
    <a href="{% url 'info' %}">Info Requests</a> |
    <a href="{% url 'contacto' %}">Contacto</a>
</body>
</html>