<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Libros</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css'%}">
</head>

<body>
    <div id="contenedor">
        <h3>Listado de Libros</h3>
        <table>
            <caption>{{numLibros}} libros encontrados</caption>
            <thead>
                <tr>
                    <th>ISBN</th>
                    <th>TITULO</th>
                    <th>PRECIO</th>
                    <th>EDITOR</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in libros %}
                <tr>
                    <td>{{libro.isbn}}</td>
                    <td>{{libro.name}}</td>
                    <td>{{libro.price}}</td>
                    <td>{{libro.publisher.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>


</html>