<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css'%}">
</head>

<body>
    <div id="contenedor">
        {% include 'includes/header.html' %}
        {% include 'includes/nav.html'%}
        <main>{% block main %}{% endblock %}</main>
        {% include 'includes/nav_footer.html' %}
        {% include 'includes/footer.html' %}
    </div>
</body>

</html>