<section>
    <table class="tabla_listado">
        <caption>{{numLibros}} libros encontrados</caption>
        <thead>
            <tr>
                <th>Nº</th>
                <th>ISBN</th>
                <th>TITULO</th>
                <th>PRECIO</th>
                <th>EDITOR</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{libro.isbn}}</td>
                <td>{{libro.name}}</td>
                <td>{{libro.price}}</td>
                <td>{{libro.publisher.name}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>TOTAL LIBROS</td>
                <td>{{suma|floatformat:"2"}}</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</section>