<h3>Rellenar formulario</h3>
<table class="tabla_form">
    <form method="post" action="/resultado/">
        {% csrf_token %}
        <tr>
            <td><label for="nombre">NOMBRE</label></td>
            <td><input type="text" id="nombre" name="nombre" required></td>
        </tr>
        <tr>
            <td><label for="pass">PASSWORD</label></td>
            <td><input type="password" id="pass" name="pass" required></td>
        </tr>
        <tr>
            <td><input type="submit" value="Enviar"></td>
            <td><input type="reset" value="Limpiar"></td>
        </tr>
    </form>
</table>
<h4>{{info}}</h4>