<h3>Rellenar los datos del contacto</h3>
<!-- Comprobar si hay errores en el formulario -->
{% if form.errors %}
<h4>Tienes errores en el formulario</h4>
<div class="errores">
    {% for field in form.fields %}
    {% for error in field.errors %}
    <strong>{{error}}</strong>
    {% endfor %}
    {% endfor %}
</div>
{% endif %}
<form action="" method="post">
    <!--action: vacío se reenvía así mismo-->
    <!--Cross site request forgery, protege de ataques CSRF-->
    {% csrf_token %}
    <table class="form_contacto">
        {{ form.as_table }} <!--Lo muestra como una tabla-->
    </table>
    <input type="submit" value="Enviar">
</form>