<nav>
    <a href="{% url 'admin:index' %}">Administración</a>
    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="{% url 'libros' %}">Listado de libros</a>
    <a href="{% url 'galeria' %}">Galería de fotos</a>
    <a href="{% url 'info_request' %}">Información request</a>
    <a href="{% url 'formulario' %}">Formulario</a>
    <a href="{% url 'contacto' %}">Nuevo contacto</a>
    <a href="{% url 'libros2' %}">Listado de libros II</a>
    <a href="{% url 'nuevolibro' %}">Nuevo libro</a>
    <a href="{% url 'libros_csv' %}">Informe CSV</a>
    <a href="{% url 'libros_xml' %}">Fichero XML</a>
    <a href="{% url 'libros_pdf' %}">Fichero PDF</a>
</nav>