<!DOCTYPE html>
<html lang="es">
<head> 
  {% block title %}<title>GALERIA DE IMAGENES</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head> 
<body>
    <p>
        <a href="{% url 'index' %}">Inicio</a> |
        <a href="{% url 'galeria' %}">Galería</a> |
        <a href="{% url 'admin:index' %}">Administración</a>
    </p> 
    {%block content %}{% endblock %} 
</body>
</html>
